Runner report "{{short_name}}"
==============================

General information
-------------------
This is an report based on a `Runner` object. It thus pertains to a single CBM-CFS3 simulation
    and its results.

{{#is_calibration}}
Warning: This is a calibration scenario runner. We have copied the required files directly into the directory
structure for this "fake" calibration scenario that we will not actually run.
Instead we pretend it has been run by directly copying the output database into the output directory.
{{/is_calibration}}

{{extra_information}}

### Pipeline ###

* This report and all the analysis was generated using the `{{project_name}}` python pipeline at:

<{{project_url}}>

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}` on host `{{hostname}}`.

{{#git}}
* The exact git hash of the latest commit was: {{git_hash}}

* Also more simply referred to by its shortened tag `{{git_tag}}`.
{{/git}}

### Log ###

Provided below is the tail of the log file generated.

{{log_tail}}

---------


Inventory
---------

### Inventory at simulation start ###
{{inventory_at_start}}

### Inventory at simulation end ###
{{inventory_at_end}}


Harvest
-------

### Total harvest by wood product ###
{{harvested_wood_prodcuts}}

### Predicted against provided for volume ###
{{harvest_exp_prov_vol}}

### Predicted against provided for area ###
{{harvest_exp_prov_area}}
